{
  "callsign": "org.rdk.NetworkConnectionStats",
  "locator": "libWPEFrameworkNetworkConnectionStats.so",
  "classname": "NetworkConnectionStats",
  "startmode": "Activated",
  "precondition": ["Platform"],
  "configuration": {
    "outofprocess": true,
    "root": {
      "mode": "Local",
      "locator": "libWPEFrameworkNetworkConnectionStatsImplementation.so"
    },
    "reportingInterval": 600,
    "autoStart": true
  }
}
