set(callsign "org.rdk.NetworkConnectionStats")
set(startuporder ${PLUGIN_NETWORKCONNECTIONSTATS_STARTUPORDER})
set(autostart ${PLUGIN_NETWORKCONNECTIONSTATS_AUTOSTART})

map()
   key(root)
   map()
      kv(outofprocess ${PLUGIN_NETWORKCONNECTIONSTATS_OUTOFPROCESS})
      kv(locator "lib${MODULE_IMPL_NAME}.so")
   end()
   kv(reportingInterval ${PLUGIN_NETWORKCONNECTIONSTATS_REPORTING_INTERVAL})
   kv(providerType ${PLUGIN_NETWORKCONNECTIONSTATS_PROVIDER_TYPE})
end()
ans(configuration)
